.copyright
{
    background-color: #151515;
    text-align: center;
    p
    {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 7rem;
        width: 100%;
        color: white;
        font-size: 1.5rem;
        span
        {
            color: $brand;
        }
    }
    margin-bottom: -1rem;
}