.happy_client
{
        margin-top: 15rem;
        h1
        {
            color: #282828;
            font-family: "Oleo Script", Sans-serif;
            font-size: 47px;
            font-weight: 400;
            padding-top: 2rem;
            span
            {
                color: $brand;
            }
        } 
}